  /*"REAL TWEET FALLBACK CSS
  FROM: https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/guides/css-for-embedded-tweets */
  blockquote.twitter-tweet {
    overflow: hidden;
    color: #1c2022;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    width: 500px;
    max-width: 100%;
    min-width: 220px;
    padding: 1.00rem 2.25rem 1.725rem 1.00rem;
    float:left;
    margin-top: 6rem;
  }
  blockquote.twitter-tweet:before {
    content: none;
  }
  blockquote.twitter-tweet p {
    white-space: pre-wrap;
    font: 16px/1.4 Helvetica, Roboto, 'Segoe UI', Calibri, sans-serif;
  }
  blockquote.twitter-tweet a {
    color: #2b7bb9;
  }
  blockquote.twitter-tweet a:visited {
    color: #2b7bb9;
  }